.input-group {
  width: 400px;
}
html, body {
    margin: 0;
    padding: 0;
}
canvas {
  margin: 0;
  padding:0;
  position: absolute;
  top: 80px;
}
body > button {
  position: absolute;
  z-index: 2;
  top: 50%;
  left:35%;
  width: 400px;
  height: auto;
}
